/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.warp{
	position: relative;
	width: 100%;
	height: 100%;
}
.left{
	width: 470px;
	box-shadow: 5px 5px 22px -13px #242424;
	position: fixed;
	z-index: 999;
	top: 20px;
	left: 50px;
  background-color:#FFF;
}
.upDown{
	position: absolute;
	top: 5px;
}
.upDown:hover{
	cursor: pointer;
}

.time{
	display: flex;
	justify-content: space-between;
	background-color:#73C0D8 ;
	height: 40px;
	padding: 10px;
	margin-bottom: 20px;
}
.time h2{
	font-size: 29px;
	color: white;
	margin-left: 80px;
	line-height: 40px;
}
.upDown{
	height: 48px;
}
.date{
	font-size: 16px;
	color: white;
}
.choose{
	display: flex;
	justify-content: space-around;
}
.select , .area{
	height: 40px;
	width: 150px;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 10px;
}

.list{
	overflow: scroll;
	height: 600px;
}
.list li  {
	position: relative;
	width: 200px;
	height: 220px;
	margin-bottom: 20px;
	float: left;
	padding-left: 10px;
	margin-left: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-radius: 10px;
}
.list a{
	font-size: 22px;
	line-height: 40px;
}
.list p{
	font-size: 12px;
	line-height: 20px;
}
.leaflet-popup-content{
	position: relative;
	width: 400px;
	height: 220px;
	margin-bottom: 20px;
	padding-left: 10px;
	margin-left: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: white;
	margin: 0 !important;
}
.leaflet-popup-content h2{
	font-size: 22px;
	line-height: 22px;
}
.leaflet-popup-content p{
	font-size: 12px;
	line-height: 12px;
}

.mask{
	margin-top: 20px;
	font-size: 14px;
	width: 180px;
	position: absolute;
	bottom: 5px;
	left: 15px;
}
.adultMask , .childMask{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	color: white;
}
.adultMask{
	background-color:#73C0D8 ;
}
.childMask{
	background-color: #FFA573;
}

html,body{
	width: 100%;
	height: 100%;
  }
  #map { 
    width: 100%;height: 100%; 
    position:absolute;
    top:0;
    
}
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}